# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="api.jumper.local"       # Hostname for the server

# CORS Settings
CORS_ORIGIN_SUFFIX="jumper.local"

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Backend
BACKEND_API_TOKEN=BACKENDTESTINGPASSWORDDONOTREUSEPLEASETHISISFORTESTINGONLY

# Cookies
IRON_PASSWORD=TESTINGPASSWORDDONOTREUSEPLEASETHISISFORTESTINGONLY
IRON_DOMAIN=.jumper.local

# Alchemy
ALCHEMY_API_KEY="..."

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="file:./dev.db"
